<extend name="mobile/base:common" />
<block name="header">
    <header>
        <span class="more fa fa-lg fa-bars">

        </span>
        <span class="h-title">News</span>
        <span class="h-logo"></span>
    </header>
    <!-- end top header -->
</block>
<block name="main">
    <section class="news-box">
        <a class="new-title" href="">这是新闻的标题</a>
        <div class="new-image">
            <img src="__PUBLIC__/mobile/images/hw-logo-big.png" alt="新闻标题">
        </div>
        <div class="new-time-line">
            <ul>
                <!-- important span 标签不可换行 -->
                <li><a href="#">01/<span class="month">12</span>
					</a></li>
                <li><a href="#">02/<span class="month">1</span>
					</a></li>
                <li><a href="#">03/<span class="month">12</span></a>
                </li>
                <li><a href="#">04/<span class="month">12</span>
					</a></li>
                <li><a href="#">05/<span class="month">12</span>
					</a></li>
                <li><a href="#">06/<span class="month">12</span>
					</a></li>
                <li><a href="#">07/<span class="month">12</span>
					</a></li>
                <li><a href="#">28/<span class="month">12</span>
					</a></li>
                <li><a href="#">28/<span class="month">12</span>
					</a></li>
            </ul>
        </div>
    </section>
    <!--end intro main-->
</block>
