.btn-group{
	float:right;
	top:20px;
}
/*PartnerList.html*/
.table table-hover tr td img{/*logo图片大小*/
	width:auto;
	height:20px;
}
table tr td a:hover{/*编辑鼠标经过时删除链接中的下划线*/
	text-decoration:none;	
}
table tr td a span{/*编辑字体的颜色*/
	color:red;	
}
table tr td span{/*删除字体样式*/
	color:red;
	cursor:pointer;
}

#nav li.active a{
	color:#fff;
	background-color:#428bca;;
}