<header>

<nav class="navbar navbar-default">
	<div class="container-fluid">
	<div class="navbar-header">
  		<a class="navbar-brand" href="{: U('admin/index/index')}">
    		<!--<img alt="Brand" src="logo1.jpg">-->HelloWorld后台管理系统
  			
  		</a>
	</div>
	<div class="btn-group">
		<span class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown" aria-expanded="false"></span>
		<ul class="dropdown-menu dropdown-menu-right" role="menu">
		    <li><a href="{: U('admin/user/logout')}">退出</a></li>
		</ul>
	</div>
	</div>
</nav>

</header>