<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
  <meta name="renderer" content="webkit">
  <title>HW官网</title>
<head>
<script src="__PUBLIC__/Home/js/jquery.min.js"></script>
<script src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<link href="__PUBLIC__/Home/css/bootstrap.min.css" rel="stylesheet">
<script src="__PUBLIC__/Home/js/index.js"></script>
<link href="__PUBLIC__/Home/css/index.css" rel="stylesheet">
 <link rel="stylesheet" href="__PUBLIC__/Home/css/product.css" />
</head>
<body>
<nav class="naver-default  navbar-fixed-top" >

    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div  id="bs-example-navbar-collapse-1">
      <img src="__PUBLIC__/home/images/logo.png" />
      <ul class="nav navbar-nav navbar-right" style="list-style:none;">
               
        <li><a href="#" class="niceColor" >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                
        <li><a href="#">社团介绍</a></li> 
                
        <li><a href="#" >产品展示</a></li>
                
        <li><a href="#" >社团动态</a></li>
              
        <li><a href="#" >合作伙伴</a></li>
                
        <li><a href="#" >加入我们</a></li>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>

 <section class="section-wrap">
 <!--首页-->     
    <div class="section section-1" >
           <img class="backgroundImg" src="__PUBLIC__/Home/images/background1.jpg"/>
    </div>

<!--社团介绍轮播页面开始-->
<div class="section section-2">           
 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="height:100%;" >
  <!-- Indicators -->   
  <!-- Wrapper for slides -->
<div class="carousel-inner" style="height:100%;" >
       <!--第一页-->   
          <div class="item active"  style="height:100%;">
            <img class="backgroundImg" src="__PUBLIC__/Home/images/HWIntroduce1.jpg"   alt="1" >
            <div style="position:absolute;height:500px;width:850px;left:250px;top:100px;">
              <h1>关于Hello World</h1>
              <h2 style=" text-indent :2em;text-align:left;line-height:1.5;">
               Hello World是一个以微信和网页开发的社团，同时负责计算机学院校友会，归属于
              计算机学院，同时也是浙江高校微联盟社团的理事社团之一。以承接校内外活动、项
              目的形式运作，例如建立杭电师生互助平台、与杭州电信公司合作制作并推广微信号
              等。社团目前有技术部、运营部、外联部、办公室、产品部五个部门，有严格的规章
              制度。各部门任务分工明确，围绕着技术开发和校友展开工作。</h2>
            </div>
          </div>
       <!--第二页-->
          <div class="item"   style="height:100%;">
             <img class="backgroundImg" src="__PUBLIC__/Home/images/HWIntroduce2.jpg"  alt="2">  
           
           <div id="preSign" class="sectorSign" date="0">主席团</div>
           <div id="admSign" class="sectorSign" date="1">行政部</div>
           <div id="proSign" class="sectorSign" date="2">产品部</div>
           <div id="tecSign" class="sectorSign" date="3">技术部</div>
         <div  id="tecMain">   
           <div id="androidSign"class="tecSign"index="0">安卓</div>
           <div id="designSign" class="tecSign"index="1">设计</div>
           <div id="frontSign" class="tecSign"index="2">前端</div>
           <div id="iosSign" class="tecSign"index="3">ios</div>
           <div id="busiSign" class="tecSign"index="4">运营</div>
           <div id="backSign" class="tecSign"index="5">后台</div>
         </div> 
            <div id="signShow"><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HW主席团是HW的日常工作机构，实行主席团负责制，经每年选举产生，向HW社团负责。HW主席团执行HW社团的各项职权，落实各部门提出的任务，挑动各部门的积极性，调节整个社团氛围，并做好HW社团各大活动的筹备。主席团构成：主席团由HW社长，副社长，部长，副部长，社长助理，技术部组长组成。</div>
          </div>
       <!--第三页-->  
          <div class="item" style="height:100%;">
             <img class="backgroundImg" src="__PUBLIC__/Home/images/HWIntroduce1.jpg"  alt="3"> 
             <div style="position:absolute;height:500px;width:1000px;left:200px;top:50px;">
               <h1>Hello World规章</h1>
               <h3>社团的导师制度：
      ①初级到中级，基本条件是要经过导师培训带领；
                 由导师认可即可升级；
      ②中级到资深，基本条件是要参与过一个完整的项目；
                 带着项目经过专家团面试才能升级；
      ③资深到专家，基本条件是要参与两个以上的项目，
                 技术水平得到大家的认可；
                 需要经过总监及专家团面试考核才能升级；
      ④专家到总监，需要是我们社团的大神，控制在5人以内；
                 每个学期末由专家团选举产生，每次产生1-2名
                 </h3>
                 <h3>相应的福利：
      ①初级到中级，基本条件是要经过导师培训带领；
                 由导师认可即可升级；
      ②中级到资深，基本条件是要参与过一个完整的项目；
                 带着项目经过专家团面试才能升级；
      ③资深到专家，基本条件是要参与两个以上的项目，
                 技术水平得到大家的认可；
                 需要经过总监及专家团面试考核才能升级；
      ④专家到总监，需要是我们社团的大神，控制在5人以内；
                 每个学期末由专家团选举产生，每次产生1-2名社团的考核</h3>
                <h3>社团的考核制度：
1.为保证成员的学习时间和团队协作时间，社团有打卡制度，每月在办公室学习相应的时间。
2.与打卡制度匹配的是Hi币制度。每打卡一小时获得一Hi 币，做项目也可以获得相应的Hi 币。最后Hi 币达到一定数目，奖励mac电脑一台。</h3>
             </div>           
          </div>
      </div> 
  <!-- Controls -->
     <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
     </a>
     <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
     </a>
 </div>
</div>
<!--社团介绍轮播页面结束--> 
  
<!--产品展示开始-->
<div class="section section-3">
   <img class="backgroundImg" src="__PUBLIC__/Home/images/HWIntroduce1.jpg"  >
<div class="foucebox">
  <div class="bd">
    <div class="showDiv"> <a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2 style="bottom: 60px;"><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2 style="bottom: 60px;"><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2 style="bottom: 60px;"><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
    <div class="showDiv"><a href="#"><img src="__PUBLIC__/Home/images/1.6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="#">标题</a></h2>
        <p style="bottom: 10px;">简介</p>
      </div>
    </div>
  </div>
  <div class="hd">
    <ul>
      <li class="on"><a href="#"><img src="__PUBLIC__/Home/images/6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__PUBLIC__/Home/images/6.jpg"><span class="txt">标题</span><span class="txt_bg"></span><span class="mask"></span></a></li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery.SuperSlide.js"></script> 
<script type="text/javascript">
jQuery(".foucebox").slide({ effect:"fold", autoPlay:true, delayTime:300, startFun:function(i){jQuery(".foucebox .showDiv").eq(i).find("h2").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"60px"},300);jQuery(".foucebox .showDiv").eq(i).find("p").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"10px"},300);}});
</script>
</div>            
<!--产品展示结束--> 

<!--社团动态开始-->   
 <div class="section section-4">
         <img class="backgroundImg" src="__PUBLIC__/Home/images/orgAct.jpg"/>
          
            <div  id="timerLine" style="height:5px;background:#484848;width:100%;position:absolute;top:580px;font-size:35px;text-indent:50px;word-spacing:300px;">
            <span id="year1">2014</span>
            <span id="year2">2015<span> 
            </div>
             <!--时间轴上的点-->
            
             <ul id="timerSpot"> 
              <li index='0'><div class="bigger first"><span >7月</span></div></li>
              <li index='1'><div class="bigger first "><span >12月</span></div></li>
              <ol>
              <li index='2'><div class="bigger second "><span >3月</span></div></li>
              <li index='3'><div class="bigger second"><span >5月</span></div></li>
              <!-- 后台2015年动态此处加li，以及里面相同的标签class -->
              </ol>
             </ul>

           
          <!--一个大的DIV随鼠标移动内容变化-->  
          <div id="timerWindow"><img src="__PUBLIC__/Home/images/ActPhoto1.jpg"><!-- 后台此处加图 -->
          2014年7月。社团成立。<!-- 后台此处加文字 -->
          </div>
 </div>       
<!--社团动态结束-->   
  
<!--合作伙伴开始-->    
 <div class="section section-5">
   <img class="backgroundImg" src="__PUBLIC__/Home/images/HWIntroduce1.jpg"  >
  <script type="text/javascript" src="__PUBLIC__/Home/js/jQuery-easing.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Home/js/jQuery-jcImgScroll.js"></script>

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/partner.css">
  <div id="demo3" class="jcImgScroll" style="position:absolute;top:100px;left:550px;">
  <ul>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>
    <li><a href="#" path="__PUBLIC__/Home/images/1.jpg"></a></li>

  </ul>
  </div>
 </div>
<!--合作伙伴结束-->


<!--加入我们开始-->   
<div class="section section-6">
<img class="backgroundImg" src="__PUBLIC__/Home/images/joinUs.jpg" />
  <div class="title">
   <div id="formContainer">
     <form action="{:U('home/index/apply')}" method="post">
    <div id="formLeft">
     
     <div class="form-group">
      <label for="personName">姓名</label>&nbsp;&nbsp;&nbsp;
       <input type="text" id="personName" placeholder="请输入姓名" name="name">
     </div>
     
     <div class="form-group">
      <label for="personStudy">院系</label>&nbsp;&nbsp;&nbsp;
      <input type="text"  id="personStudy" placeholder="请输入学院" name="major">
     </div>
     
     <div class="form-group">
      <label for="phoneName">手机</label>&nbsp;&nbsp;&nbsp;
      <input type="tel" id="phoneName" placeholder="请输入手机号" name="mobile">
     </div>
    </div>
   
    <div id="formRight">
    
     
      <div class="radio"><span>性别</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>
      <input type="radio" name="gender" id="optionsRadios1" value="男" checked><span>男</span>
      </label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label>
      <input type="radio" name="gender" id="optionsRadios2" value="女"><span>女</span>
      </label>
      </div>
     
      <div class="form-group">
      <label for="studyName">学号</label> &nbsp;&nbsp;&nbsp;
      <input type="tel"  id="studyName" placeholder="请输入学号" name="number">
      </div>
   
   
      <div class="form-group">
      <label for="emailName">邮箱</label> &nbsp;&nbsp;&nbsp;
      <input type="email"  id="emailName" placeholder="请输入邮箱" name="email">
      </div>
     
    </div>
  
   <div id="formBottom">
   
    <span>意向部门:</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="department"style="border-radius:5px;color:#000;" >
      <option><span>办公室</span></option>
      <option><span>外联部</span></option>
      <option><span>美工组</span></option>
      <option><span>运营部</span></option>
      <option><span>前台组</span></option>
      <option><span>后台组</span></option>
      <option><span>安卓组</span></option>
      <option><span>IOS组</span></option>
    </select> <br/><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   <textarea  rows="10" placeholder="简单介绍一下自己为什么想加入这个部门" style="width:570px;height:150px;border-radius:10px;color:#000;" name="info"></textarea>
 
   </div>
    <button id="submitBtn" type="button" class="btn btn-primary" >提交</button>
   </form>
    </div>
    <div id="QQ">       
       <a target="_blank" href="http://shang.qq.com/wpa/qunwpa?idkey=5662c107c581fb74c32e20819bb378674cb0e87210e868c4c0456c42fdd49556">社团QQ交流群: 469301908
       </a>
    </div> 
    <div id="work">社团工作室：一教227</div>

   <div id="forum"><a href="#">内部论坛</a></div> 
   <div id="census"><a href="#">站长统计</a></div>
   </div>
 </div>
<!--加入我们结束-->
</section>
  <ul class="section-btn" style="list-style:none;">
    <li class="on"></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
      <li></li>
  </ul>
  <div class="arrow">&laquo;</div>




</body>
</html>